
.cartitems{
    margin-top: 5rem;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: center;
    
}

@media(max-width:767px){
    
}
@media(min-width:768px){
    
}
@media(min-width:991px){
    .card{
        
    }
   
}
@media(min-width:1199px){}
.card{
    
}
.card img{
   
}
.no-cart{
    margin-top: 8rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}