@media(max-width:767px){
    
}
@media(min-width:768px){
    
}
@media(min-width:991px){
    .card{
        width: 21rem;
        display: grid;
        grid-template-columns: 66% 42%;
    }
}
@media(min-width:1199px){}
.card{
    width: 100%;
    display: grid;
    grid-template-columns: 57% 26%;
}
.card img{
    width: 37%;
    margin-left: 4rem;
}