

@media(max-width:767px){
    .MyCard{
        margin: 3vh auto;
    }
}
.MyCart{
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    margin-top: 1rem;
}
@media(max-width:767px){
    .MyCart{
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
        width: calc(100% - 40px);
        margin: 1.5rem auto;
        padding: 30px 0;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }
}
a{
    text-decoration: none;
}