@media(max-width:767px){
    .feild{
        width: 19rem;
    }
    .counter{
        top: -22rem;
        left: 13rem;
    }
}
@media(min-width:768px){
    .feild{
        width: 12rem;
    }
    .counter{
        top: -22rem;
        left: 12rem;
    }
}
@media(min-width:991px){
    
    .counter{
        top: -22rem;
        left: 11rem;
    }
}
@media(min-width:1199px){
    .counter{
        top: -341px;
        left: 11rem;
    }
}



.feild{
    
    
    color: white;
    padding: 25px 5px;
}
.feild img{
    width: 100%;
    height: 220px;
    /* height: 60%; */
}

.info button{
    color: white;
    background-color: #fcd80a;
    border: 0;
    border-radius: 50px;
    position: relative;
    font-size: 15px;
    width: 90%;
    padding: 8px;
    margin: 6px auto;
    display: block;
}
.info button:hover{
    color: #fcd80a;
    background-color: white;
    border: 2px solid #fcd80a;
  
}
.fa-star, .fa-star-half-stroke{
    color: #fff09a;
}
.info .myp{
    color: #767574;
    margin-top: -10px;
}
.star{
    margin-top: -10px;
}
.info {
    
        padding: 10px 0px;
        background-color: white;
}
.counter{
    background-color: #fcd80a;
    color: white;
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    width: 45px;
    border-radius: 9px;

}
