@media(max-width:767px){
    
    .counter{
        top: -22rem;
        left: 13rem;
    }
}
@media(min-width:768px){
    
    .counter{
        top: -22rem;
        left: 12rem;
    }
}
@media(min-width:991px){
    
    .counter{
        top: -22rem;
        left: 11rem;
    }
}
@media(min-width:1199px){
    .counter{
        top: -341px;
        left: 11rem;
    }
}



.feild{
    width: 12rem;
    
    color: white;
    padding: 25px 5px;
}
.feild img{
    width: 100%;
    height: 220px;
    /* height: 60%; */
}

button{
    color: white;
    background-color: #004c3f;
    border: 0;
    cursor: pointer;
    border-radius: 50px;
    width: 50%;
    padding: 4px;
    position: relative;
    margin-left: 1rem;
}
button:hover{
    color: #004c3f;
    background-color: white;
    border: 2px solid #004c3f;
  
}

.info {
    
    
        background-color: #F5F6F6;
}
.counter{
    background-color: rgb(30, 30, 147);
    color: white;
    position: absolute;
    
    font-size: 20px;
    font-weight: 700;
    width: 45px;
    border-radius: 9px;

}
/* 
.info div{
    margin-left: -47px;
} */