@media(max-width:767px){
    .feild{
        width: 18rem;
        
    }
    .counter{
        top: -22rem;
        left: 13rem;
    }
}
@media(min-width:768px){
    .feild{
        width: 17rem;
    }
    .counter{
        top: -22rem;
        left: 12rem;
    }
}
@media(min-width:991px){
    .feild{
        width: 16rem;
    }
    .counter{
        top: -22rem;
        left: 11rem;
    }
}
@media(min-width:1199px){
    .counter{
        top: -341px;
        left: 11rem;
    }
}



.feild{
    /* width: 14rem; */
    
    background-color: rgb(30, 30, 147);
    color: white;
    border: 2px solid rgb(30, 30, 147);
    padding: 25px 5px;
}
.feild img{
    width: 90%;
    
    height: 280px;
    /* height: 60%; */
}

button{
    
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: relative;
}

.info button:nth-child(1){
    
    background-color: red;
}
.counter{
    background-color: rgb(30, 30, 147);
    color: white;
    position: absolute;
    
    font-size: 20px;
    font-weight: 700;
    width: 45px;
    border-radius: 9px;

}