
@media(max-width:767px){
    .products{
        display: grid;
        grid-template-columns: 100%;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(min-width:768px){
    .products{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 1rem;

    }
}
@media(min-width:991px){
    .products{
        display: grid;
        grid-template-columns: 36% 36% 28%;
        margin-top: 1rem;
    }
}
@media(min-width:1199px){}